@font-face {
    font-family: 'RobotoCondensed';
    src: url('font/RobotoCondensed-Regular.ttf') format('truetype');
  }
body, .container_info p, .icon_insta_phone, .categories ul{
    margin: 0;
    padding: 0;
    font-family: RobotoCondensed, sans-serif;
}
body{
    padding-top: 121.2px;
}
main{
    margin: 0 100px;
}
.container_info{
    background-color: black;
    color: white;
    padding: 13px 70px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.email, .icon_insta_phone{
    align-items: center;
    display: flex;
    gap: 10px;
}
.container_info img {
    width: 20px;
    height: 20px;
}
.icon_insta_phone{
    gap: 50px;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 70px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}
.cliente_button, .centro_orcamento a{
    text-decoration: none;
    color: white;
}
.categories a{
    color: black;
    text-decoration: none;
    transition: color 0.8s ease, font-weight 0.8s ease;
}
.categories a:hover{
    color: #7FB3EF;
}
#superior{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.categories ul{
    box-sizing: border-box;
    display: flex;
    gap: 50px;
    list-style: none;
}
.cliente_button, .orcamento_button{
    background-color: #7FB3EF;
    padding: 11px 20px;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.6s ease;
}
.cliente_button:hover, .orcamento_button:hover{
    background-color: #3A8EEE;
}
.titulo h1{
    font-size: 60px;
    color: #7FB3EF;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.titulo h2{
    font-size: 35px;
    padding: 0;
    margin: 0;
    color: white;
}
.titulo{
    text-align: center;
    padding: 100px 0 100px;
}
.imagem_centro{
    width: 100%;
    height: 25rem;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
.centro_orcamento{
    text-align: center;
    margin: 0 290px;
    padding: 50px;
    background-color: white;
    border-radius: 100px;
    font-size: 16px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}
.centro_orcamento h2{
    margin: 0 0 40px;
    padding: 0;
}
#container_atividades_empresa{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.atividade{
    text-align: center;
    width: 220px;
    padding: 90px 25px;
    color: #A0A0A0;
}
#container_atividades_empresa i{
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

#container_servicos{
    margin-bottom: 25px;
}
.servicos{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 50px;
    flex-wrap: wrap;
}
#container_servicos h2, #container_contatos h2{
    margin: 0;
    padding: 30px 80px;
    color: #585858;
}
.servico{
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    width: 340px;
    min-height: 300px;
    border-radius: 7px;
}
.servico h3{
    color: #012650;
    margin: 0 30px;
}
.servico p{
    color: #A0A0A0;
    padding: 0 30px;
}
.logo_servico{
    margin: 10px 30px;
}
#container_contatos{
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}
.contato{
    display: flex;
    gap: 30px;
    padding: 18px 30px;
}
.contato_dados h3{
    margin: 3px 0;
    padding: 0;
    color: #012650;
    font-weight: bold;
}
.contato_dados p{
    margin: 0;
    padding: 0;
    color: #A0A0A0;
}
.icon_contato{
    display: flex;
    align-items: center;
}
.icon_contato img{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 10px;
    background-color: #7FB3EF;
    width: 20px;
    height: 20px;

}
.mapa_contato{
    background-color: #A0A0A0; /* Alterar!! foi definido cor apenas para dimensionar o tamanho do mapa */
    width: 900px;
    height: 400px;
    border-radius: 30px;
}
footer{
    background-color: #012650;
    padding: 20px 0;
}
.content-footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.categorias-footer li, .categorias-footer a{
    list-style: none;
    margin: 10px;
    text-decoration: none;
    color: white;
}
.logo-footer img{
    width: 64px;
    height: 96px;
    width: 248px;
}
.numero-footer, .endereco-footer, .email-footer{
    display: flex;
    align-items: center; 
    gap: 10px; 
    color: white;
    margin-bottom: 10px;
}
.contatos-footer img{
    width: 20px;
    height: 20px;
}
footer i{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px; 
}

@media(max-Width: 920px){
    .centro_orcamento{
        text-align: center;
        margin: 0;
        padding: 50px;
    }
    #container_contatos{
        display: block;
    }
    .mapa_contato{
        width: 60vh;
        height: 400px;
    }
}